<% if signed_in? %>
	<div id="col-1">
		<%= render 'layouts/header' %>
	</div>
	<div id="col-2">
		<%= render 'posts/recent' %>
	</div>

<% else %>
	<h1 class='landing-logo'><%= image_tag "lnksy-logo2.png", class: 'static-logo', alt: 'lnksy', title: 'lnksy' %></h1>

	<div class='enter'>
		<%= link_to "Sign up", sign_up_path %> ||
		<%= link_to "Log in", log_in_path %>
	</div>
<% end %>