<div class="log-in">
	<h2>Log in</h2>
	<div class="login-form">
		<%= form_tag sessions_path do %>
			<div class="flash">
				<% flash.each do |name, msg| %>
					<%= content_tag :div, msg, :id => "flash_#{name}" %>
				<% end %>
			</div>
			<p>
				<%= label_tag :email %>: <br/>
				<%= text_field_tag :email, params[:email] %>
			</p>
			<p>
				<%= label_tag :password %>: <br/>
				<%= password_field_tag :password %>
			</p>
			<p class="button"><%= submit_tag "Log in" %></p>
		<% end %>
	</div>
</div> <!-- end .log-in -->