<div id="col-1">
	<%= render 'layouts/header' %>
</div>
<div id="col-2">
	<header class="folder">
		<p><span class="bold"><%= @folder.name %>:</span> <%= @folder.description %></p>
	</header>

	<% @folder.posts.each do |p| %>
		<div class="col2-links">
			<p><a href="<%= p.link_url %>" target="_blank">  <%= p.title %></a>- <span class="url"><%= p.strip_url %></span></p>
			<p><%= p.description %></p>
			<% if current_user && current_user.id == @user.id %>
				<p><%= link_to 'Delete link', p, method: :delete, data: { confirm: 'Are you sure?' } %> Edit description</p>
			<% end %>
		</div>
	<% end %>

</div> <!-- end .col-2 -->