<div id="col-1">
	<%= render 'layouts/header' %>
</div>
<div id="col-2">
	<header class="folder">
		<span class="folder-name"><%= @folder.name %> </span> <%= @folder.description %>
		<% if current_user && current_user.id == @user.id %>
			<span class='hide right post-edit'><%= link_to 'Delete', [@user, @folder], method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-folder' %> <%= link_to "Edit", edit_user_folder_path(@folder), class: 'delete-folder' %></span>
		<% end %>
	</header>
	<ul class="link-list">
		<% @folder.posts.each do |p| %>
		<li>
			<div class="col2-links">
				<a href="<%= p.link_url %>" target="_blank">  <%= p.title %></a>- <span class="url"><%= p.strip_url %></span>
				<% if current_user && current_user.id == @user.id %>
					<span class='hide right post-edit'><%= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-link' %> || <%= link_to "Edit", edit_post_path(p), class: 'delete-link' %></span>
				<% end %>
				<p><%= p.description %></p>
			</div>
		</li>
		<% end %>
	</ul>
</div> <!-- end .col-2 -->