<div class="login-form">
	<%= form_for @user, :url => { :action => "update" } do |f| %>
		<% if @user.errors.any? %>
		<div class="flash">
			<h2>Form is invalid</h2>
			<ul>
				<% for message in @user.errors.full_messages %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<ul>
			<li>
				<%= f.label :username %>: <br/>
				<%= f.text_field :username %>
			</li>
				<li>
				<%= f.label :name %>: <br/>
				<%= f.text_field :name %>
			</li>
			<li>
				<%= f.label :email %>: <br/>
				<%= f.text_field :email %>
			</li>
			<li>
				<%= f.label :password %>: <br/>
				<%= f.password_field :password %>
			</li>
			<li>
				<%= f.label :password_confirmation %>: <br/>
				<%= f.password_field :password_confirmation %>
			</li>
		</ul>
		<p class="button"><%= f.submit 'Update Account' %></p>
	<% end %>
</div>