<div id="col-1">
	<% if current_user %>
		<h1 class="username left"><%= link_to current_user.username.capitalize, current_user.username %></h1>
		<%= link_to "Log out", log_out_path, class: 'right settings' %>
	<% else %>
		<%= link_to "Sign up", sign_up_path %> or
		<%= link_to "Log in", log_in_path %>
	<% end %> <br/>
	<%= image_tag "lnksy-logo.png", class: 'static-logo'  %>
	<div class="flash">
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
	</div>
	<% if current_user && current_user.id == @user.id %>
		<section>
			<%= render 'posts/form' %>
		</section>
		<section>
			<h2>Folders</h2>
			<%= render 'folders/form' %>
		</section>
	<% else %>
		<h2><%= @user.username.capitalize %>'s links</h2>
	<% end %>
	<section>
		<% @users.each do |u| %>
			<p><%= link_to u.username.capitalize, u.username %></p>
		<% end %>
	</section>
</div> <!-- end .col-1 -->