<div id="col-1">
	<%= render 'layouts/header' %>
</div>
<div id="col-2">
	<h2>Most Righteous Recent LNKS!</h2>
	<% @user.posts.take(20).each do |p| %>
		<div class="col2-links">
			<p><a href="<%= p.link_url %>" target="_blank">  <%= p.title %></a>- <span class="url"><%= p.strip_url %></span></p>
			<p><%= p.description %></p>
			<% if current_user && current_user.id == @user.id %>
				<p><%= link_to 'Delete link', p, method: :delete, data: { confirm: 'Are you sure?' } %> Edit description</p>
			<% end %>
		</div>
	<% end %>
</div>
