<header class="folder">
	<h2>Most Recent LNKS!</h2>
</header>
<ul class="link-list">
	<% @user.posts.take(20).each do |p| %>
	<li>
		<div class="col2-links">
			<a href="<%= p.link_url %>" target="_blank">  <%= p.title %></a>- <span class="url"><%= p.strip_url %></span>
			<% if current_user && current_user.id == @user.id %>
				<span class='hide right'><%= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-link' %> || Edit</span>
			<% end %>
			<p><%= p.description %></p>
		</div>
	</li>
	<% end %>
</ul>