<% if current_user %>
<header>
	<h1 class="username left"><%= link_to current_user.username.capitalize, user_path(current_user) %></h1>
	<%= link_to "Log out", log_out_path, class: 'right settings' %>
	<% else %>
		<%= link_to "Sign up", sign_up_path %> or
		<%= link_to "Log in", log_in_path %>
	<% end %> <br/>
	<%= image_tag "lnksy-logo.png", class: 'static-logo'  %>
</header>
<div class="flash">
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
</div>
<% if signed_in? %>
	<% if current_user && current_user.id == @user.id %>
		<section>
			<%= render 'posts/form' %>
		</section>
		<section>
			<%= render 'folders/form' %>
		</section>
		<section>
			<h2>Your Folders</h2>
			<%= render 'users/folders' %>
		</section>
	<% else %>
		<h2><%= @user.username.capitalize %>'s Folders</h2>
		<%= render 'users/folders' %>
	<% end %>
<% end %>