<% if current_user %>
<header>
	<h1 class='left settings'><span class="hi">Hi <%= link_to current_user.username.capitalize, user_path(current_user)%>!</span></h1>
	<div class="right settings hi open">Settings</div>
	<div class="settings-box hidden">
		<p><%= link_to "Account", edit_user_path(current_user), class: 'settings hi' %></p>
		<p><%= link_to "Log out", log_out_path, class: 'settings hi' %></p>
	</div>
<% else %>
	<div class="logged-out">
		<%= link_to "Sign up", sign_up_path, class: 'settings' %> or
		<%= link_to "Log in", log_in_path, class: 'settings' %>
	</div>
<% end %> 
	<h1><%= image_tag "lnksy-logo2.png", class: 'static-logo', alt: 'lnksy', title: 'lnksy' %></h1>
</header>
<div class="flash">
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
</div>

<% if current_user && current_user.id == @user.id %>
	<div class="add-things">
		<section>
			<h3 class="new-link open">+ LINK</h3>
			<div class="add-link hidden">
				<%= render 'posts/form' %>
			</div>
		</section>
		<section>
			<h3 class="new-folder open">+ FOLDER</h3>
			<div class="add-folder hidden">
				<%= render 'folders/form' %>
			</div>
		</section>
	</div>
	<section>
		<div class="folder-title">
			<h3>MY FOLDERS</h3>
		</div>
		<%= render 'users/folders' %>
	</section>
<% else %>
	<div class="folder-title">
		<h3><%= @user.username.capitalize %>'s Folders</h3>
	</div>
	<%= render 'users/folders' %>
<% end %>
